body{
    margin: 0px;
    padding: 0px;
    background: #343a40;
}
.justify-content-center{
    display: flex;
    align-items: center;
    margin-left: 40px;
    color: #ffffff;
}
.about_home{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
}
.about_img{
    width: 775px;
    height: 700px;
}
.about_text{
    font-size: 18px;
    margin-right: 30px;
    font-family: 'Oswald';
}
.imgtext{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    text-shadow: 6px 6px 5px #1E252B;
    font-family: 'Oswald';
}
#fourth{
 transform: translateX(100%);
}
.footer-copyright{
    color: #dbe0e6;
}
.box{
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.2);
}
.container p{
    display: inline-block;
    color:#f8f9fa
}
.color{
    color: #ffffff;
}
.del{
    text-align: right;
    position: relative;
    animation: move 10s infinite;
}
.del:hover{
    animation-play-state: paused;
    cursor: pointer;
}
img.bike{
    height: 50px;
    width: 50px;
}
#header-nav{
    background-color: #1E252B;
    border-radius: 0px;
    border:0px;
    color: #ffffff;
}
.navbar-header h3{
    transform: translateX(50px) translateY(-60px);
    margin-top: 5px;
    margin-left:60px;
    font-family: 'Oswald';
    font-size: 40px;
    color: #dbe0e6;
}
.navbar-header img{
    margin-top:-8px;
}
.nav li i{
    display: block;
    height: 50px;
}
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background-color: #343a40;
    border-color: #343a40;
}
.navbar-inverse .navbar-toggle .icon-bar{
    background-color:#f8f9fa;
}
.slidebox{
    height: 70vh;
}
.centering{
    text-align: center;
}
.bottom{
    margin-bottom: 30px;
}
.saying{
    color: #f8f9fa;
    margin-bottom: 30px;
}
.saying h3{
    color: #f8f9fa;
}
.btn{
    background-color: #343a40;
    color:#f8f9fa;
    border: #343a40;
    border-radius: 20px;
    padding: 10px 20px;
}
.btn:hover{
    background-color: rgba(165, 42, 42, 0.7);
    color:#f8f9fa;
    padding: 10px 30px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
    background-color: #343a40;
    color: #f8f9fa;
}

.modal-content{
    background-color: #f8f9fa;
    color: #343a40;
}
.col-md-9{
    background-color: #343a40;
    color: #f8f9fa;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.image img{
    width:70px;
    height:70px;
    margin-right: 10px;
}
.container h2{
    color:#f8f9fa;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 5px 10px 10px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  
.flip-card {
    background-color: transparent;
    width:300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    perspective: 1000px;
} 
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}
  
.flip-card-front {
    background-color: #bbb;
    color: #f8f9fa;
    text-align: center;
}
.flip-card-front img{
    width:300px;
    height:300px; 
    border-radius: 10px;
}
  
.flip-card-back {
    background-color: #f8f9fa;
    color: #343a40;
    transform: rotateY(180deg);
}
.flip-card-back h3{
    margin-top:100px;
}
.flip-card-back p{
    display: block;
    color:#343a40;
}
.flip-card-back a{
    text-decoration: none;
    background-color: #343a40;
    color: #f8f9fa;
    padding: 10px 20px;
    border-radius: 20px;
}
.flip-card-back a:hover{
    background-color: rgba(165, 42, 42, 0.74);
    padding: 10px 30px;
}

.bg-footer{
    background-color: #1E252B;
}
footer i{
    margin:20px;
    font-size: 30px;
    color:#dbe0e6;
}
img.blur{
    filter: brightness(0.50);
}
.flip-card-front h3{
    position: absolute;
    top:120px;
    transform: translate(-50%,-50%);
    left:50%;
}

@keyframes move{
    0%{
        transform: translateX(-80%);
    }
    100%{
        transform: translateX(0%);
    }
}




@media  screen and (max-width:990px) {
    .navbar-header h3{
        margin-left:0px;
    }
}
